#chatboxparent{
    display: grid;
 grid-template-columns: minmax(150px, 25%) 1fr;
 width: 100vw;
 height: 100vh  ;
}

#listfriend{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#chatbox{
    display: grid;
    grid-template-rows:  1fr auto;
}