<div class="profile">
  <div class="avata">
    <img class="avataimg" [src]="userin4?.imgUrl ?? ''" />
  </div>
  <div class="yourname">
    <!-- <div id="id">{{ userin4?.id ?? "" }}</div> -->
    <div id="name">{{ userin4?.name ?? "" }}</div>
    <div id="email">{{ userin4?.email ?? "" }}</div>
  </div>
  <div class="signout" style="display: flex; align-items: center">
    <button class="btn" (click)="userService.logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <div class="action" style="width: 100%; display: flex; flex-direction: row">
    <form class="form" [formGroup]="emailForm">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="email"
          formControlName="email"
          placeholder="Enter email"
          style="width: 310px"
        />
      </div>
    </form>

    <button class="btn" (click)="addfriend(emailForm.value.email)">
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
</div>
